<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!-- namespace: 이름 공간 -> (XML을 사용하는)여러 기술을 사용하는 경우 tag가 충돌될 수 있음! namespace는 충돌을 없애기 위한 기술이다 (xmlns:이름 <이름:태그>) -->
  <!-- default namespace: tag에 접두사가 없는 경우 -->
  
  <!-- Top level element: display-name, welcome-file-list 등 -->
  
  <!-- Servlet 등록: @WebServlet와 같은 의미! -->
  <servlet>
  	<servlet-name>servlet1</servlet-name> <!-- 지금은 그냥 지었지만 나중에는 의미 있는 이름으로 지어라 -->
  	<servlet-class>com.shinhan.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/ff</url-pattern>
  </servlet-mapping>
  
  <display-name>webShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>